* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}
.main-container {
    display: flex;
    flex-direction: column;
    max-width: 35vw;
}

h1 {
    text-align: center;
}

.ind-rocket {
    border: 2px solid black;
    border-radius: 2px;
    padding: 0.15em;
}